<% content_for(:head) do %>
    <%= javascript_include_tag "profiles/index" %>
    <%= stylesheet_link_tag "jcrop/jquery.Jcrop.min" %>
<% end %>

<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span8 offset2">
  	<section id="photo_section">
	  	<div class= "span4" id="current_profile_photo">
	  		<% if @user.avatar.exists? %>
	  			<!-- Use default gavatar/facebook/linkedin photos if no custom uploaded file exists -->
	  			<%= image_tag @user.avatar.url(:medium) %>
	  		<% else %>
	    		<%= gravatar_for @user %>
	  		<% end %>
	  	</div>
	  	<div class= "span4">
	  		<h4>Follow the below steps to change your profile picture</h4>
	    	<%= form_for(@user) do |f| %>
	      		<h5>Step1: Please select image file</h5>
		    	<%= f.file_field :avatar %>
		</div>
	</section>
	<section id="crop_section">
		<div id="crop_div">
			<h5 id="crop_reference">Step2: Please select the image partition you would like to use</h5>
		</div>
 	</section>
 	
	<% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
		<%= f.hidden_field attribute, :id => attribute %>
	<% end %>
	
    <%= f.submit "Crop", class: "btn btn-small btn-primary", :id => "submit_profile_picture" %>
    <% end %>
   </div>
</div>
