<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= f.label :profile_picture %>
	  <%= f.file_field :avatar %>
		
      

      
      <%= f.submit "Save changes", class: "btn btn-medium btn-primary" %>
    <% end %>
    <!--
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  	-->
  </div>
</div>

<script>
	// Upload preview for user to select face before final upload

	$('#user_avatar').change(function(e) {
	    for (var i = 0; i < document.getElementById('user_avatar').files.length; i++) {
	        
	        var file = document.getElementById('user_avatar').files[i];
	        
	        var img = document.createElement("img");
	        var reader = new FileReader();
	        reader.onloadend = function() {
	             img.src = reader.result;
	        }
	        reader.readAsDataURL(file);
	        $('#user_avatar').after(img);
	    }
	});
</script>
