<% content_for(:head) do %>
    <%= javascript_include_tag "profiles/index" %>
    <%= stylesheet_link_tag "jcrop/jquery.Jcrop.min" %>
<% end %>

<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span8 offset2">
  	<section id="photo_section">
	  	<div class= "span4" id="current_profile_photo">
	  		<% if @user.avatar.exists? %>
	  			<!-- Use default gavatar/facebook/linkedin photos if no custom uploaded file exists -->
	  			<%= image_tag @user.avatar.url(:medium) %>
	  		<% else %>
	    		<%= gravatar_for @user %>
	  		<% end %>
	  	</div>
	  	<div class= "span4">
	  		<h4>Please select a photo below to begin updating your profile picture...</h4>
	    	<%= form_for(@user) do |f_picture| %>
		    	<%= f_picture.file_field :avatar %>
		</div>
	</section>
	
	<section id="crop_section" style="display:none;">
		<div id="crop_div">
			<h5 id="crop_reference">Please select the image partition you would like to use</h5>
		</div>
 	
		<% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
			<%= f_picture.hidden_field attribute, :id => attribute %>
		<% end %>
	    <%= f_picture.submit "Update", class: "btn btn-small btn-primary submit_profile" %>
		<input class="btn btn-small submit_profile" id="cancel_button" type="button" value="Cancel" />
	    <% end %>
	    
 	</section>
 	
 	<section id="blurb_section">
 		<h4>or update your written profile below.</h4>
	    <%= form_for(@user) do |f_blurb| %>
 			 <%= f_blurb.cktext_area :profile, :ckeditor => {:uiColor => "#eeeeee", :toolbar => "mini"} %>
	    	 <%= f_blurb.submit "Update", class: "btn btn-small btn-primary submit_profile" %>
 		<% end %>
 	</section>	
   </div>
</div>
