<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
	  <%= render :partial => 'shared/profile_picture',locals: {   :partial_user => @user, :partial_size => :thumb} %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Microposts:</b> <%= @user.microposts.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
      
      <!-- a bit confused what this is -->
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
	  		<%= render :partial => 'shared/profile_picture',locals: {   :partial_user => user, :partial_size => :tiny} %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>