<% provide(:title, 'Setup PayPal') %>
<h2>Please provide the following information to enable payments</h2>

<div class="row">
  <div class="span6 offset3">
	<%= form_for(current_user) do |f| %>
		<%= f.hidden_field :edit_type, :value => "setup_payments" %>
		<%= f.fields_for :addresses do |ff| %> 
		<div class="form-inline row span6" id="row_fields">
			<div class='span6' id='left_box'>
				<h4>Address</h4>
			</div>
			
			<div class="span4" id="left_box">
				<%= ff.label :line1, "Street Address" %>
				<%= ff.text_field :line1 %>
			</div>
			<div class="span2"  id="right_box">
				<%= ff.label :line2, "Apt #" %>
				<%= ff.text_field :line2 %>
			</div>
			
			<div class="span4" id="left_box">
		    	<%= ff.label :city %>
		    	<%= ff.text_field :city%>
			</div>
			<div class="span2"  id="right_box">
		    	<%= ff.label :zip, "Zip Code" %>
		    	<%= ff.text_field :zip %>
			</div>
			
			<div class="span3"  id="left_box">
				<%= ff.label :state %><br />
				<%= render partial: 'subregion_select', locals: {parent_region: "US"} %>
			</div>
			<div class="span3" id="right_box">
		    	<%= ff.label :country_code, "Country" %>
		    	<%= ff.country_select :country_code, "United States" %>
			</div>
	   	</div>
	   	<% end %>	

		<%= f.fields_for :telephone_numbers do |fg| %>		
		
			<!-- formatting needs some work here -->
			<div class="form-inline row span6" id="row_fields">
				<div class='span6' id='left_box'>
					<h4>Phone Number</h4>
				</div>
				
				<div id="phone_country_selector" style="display:none;">
					<div class="span3" id="left_box">
						<%= fg.label :country_code, "Country" %>
				    	<%= fg.country_select :country_code, "United States" %>
					</div>
				</div>
				
				<div id="phone_country_switch">
					<h5>Please <a href="#" id="show_phone_country_selector">click here</a> if your phone number is in a different country than your address</h5>
					
				</div>
				<div class="span6" id="left_box">
					<%= fg.label :phone_number, "Phone Number" %>
			    	<%= fg.text_field  :phone_number %>
				</div>
			</div>
		<% end %> 
    	<%= f.submit "Submit", class: "btn btn-default btn-primary vert-form-btn" %> 
	<% end %>
  </div>
</div>
<script>
// Code to allow user to switch to another country other than one's address country
$('#show_phone_country_selector').click(function(){
    $('div#phone_country_selector').css('display', 'inline');
    
    
    
    $('div#phone_country_switch').css('display', 'none');
});

// Code to auto update the state tab to only apply to country in question
$('select#user_addresses_country_code').change(function(){
    select_wrapper = $('#order_state_code_wrapper');

    $('select', select_wrapper).attr('disabled', true);

    country_code = $(this).val();

    url = "/payments/subregion_options?parent_region="+country_code;
    select_wrapper.load(url);
});
</script>

