<ol>
	<% relevant_user = current_user?(booked_appointment.user_one) ? booked_appointment.user_two : booked_appointment.user_one %>
	<%= render :partial => 'shared/profile_picture',locals: {   :partial_user => relevant_user, :partial_size => :thumb} %>
	<span class="user">
		<%= link_to relevant_user.name, relevant_user %>
	</span>

  	<span class="content">On <%= booked_appointment.display_app_date_time(booked_appointment.app_date_time, current_user.time_zone) %></span>
  	<span class="timestamp">
		<%= form_for(booked_appointment, html: { method: :delete }) do |f| %>
			<%= f.hidden_field :user_two_id %>
			<%= f.hidden_field :user_one_id %>
			<%= f.hidden_field :app_date_time %>
		<%= f.submit "Cancel appointment", class: "btn btn-default" %>
		<% end %>
  	</span>
</ol>