<% if current_user.time_zone %>
	<h5>Step 1: Please select a date to view availability</h5>
	<%= form_for(current_user.appointments.build(user_two_id:params[:id])) do |f| %>
		<div>
			<%= f.hidden_field :user_two_id %>
			<%= f.text_field :app_date, :class => "datepicker span3"%>
			<%= f.text_field :app_time, :id => 'timepicker', :class => 'span2'%>
		</div>
		<%= f.submit "  Book  ", class: "btn btn-default btn-primary" %>
		<script type="text/javascript">
			$('.datepicker').datepicker({
			startDate: '+1d'
			});
			$('#timepicker').timepicker();
		</script>
	<% end %>
<% end %>