
<% content_for(:head) do %>
    <%= javascript_include_tag "appointments/appointment" %>
<% end %>


<div class="row">
  
  <!-- handle chat boxes -->
  <aside class="span6">	
  	<!-- load current user -->
  	<h4><%= current_user.name %></h4>
  	<div id="opentok_console"></div>
	<div id="myCamera" class="publisherContainer"></div>
	<div class="opentok_loading_div" id="user1_loading">
		<img class="opentok_loading_img" src="/assets/Ajax_Loader_20130610.gif"> 
		<p class="opentok_loading_msg">Loading your video feed...</p>
	</div>
	
	<!-- load appointment partner -->
  	<h4><%= @other_user.name %></h4>
	<div id="subscribers"></div>
	<div class="opentok_loading_div" id="user2_loading">
		<img class="opentok_loading_img" src="/assets/Ajax_Loader_20130610.gif"> 
		<p class="opentok_loading_msg">Waiting for <%= @other_user.name %>...</p>
	</div>
  </aside>
  
  <section>
  	<div>
  	  <h4>Whiteboard partition</h4>
		  <!-- Text areas that will be used as our collaborative controls. -->
		  <canvas class="simple_sketch" id="sketch_editor1" width="420" height="315"></canvas>
		  <div id="sketch_tools">
  			<a href="#sketch_editor1" data-tool="marker">Marker</a>
  			<a href="#sketch_editor1" data-tool="eraser">Eraser</a>
		  </div>
		  <!-- ><canvas class="simple_sketch" id="sketch_editor2" width="420" height="315"></canvas> 
		  <button id="authorizeButton" disabled>You must authorize</button>	-->
		  <br><br />
		
		  <!-- Undo and redo buttons.
		  <button id="undoButton" disabled>Undo</button>
		  <button id="redoButton" disabled>Redo</button>
		  -->
	</div>
	<div>
  	  <h4>Chat partition</h4>
  	</div>
  </section>
</div>

<script type="text/javascript">
	
	// OpenTok related keys
	var apiKey = "<%= OPENTOK_API_KEY %>"; // Replace with your API key. See https://dashboard.tokbox.com/projects
	var sessionId = "<%=@appointment.opentok_session%>"; // Replace with your own session ID. See https://dashboard.tokbox.com/projects
	var token = "<%=@token%>"; // Replace with a generated token. See https://dashboard.tokbox.com/projects
	
	var col_actions;
	
	 /**
     * This function is called the first time that the Realtime model is created
     * for a file. This function should be used to initialize any values of the
     * model. In this case, we just create the single string model that will be
     * used to control our text box. The string has a starting value of 'Hello
     * Realtime World!', and is named 'text'.
     * @param model {gapi.drive.realtime.Model} the Realtime root model object.
     */
  
    function initializeModel(model) {
      var Col_Actions = model.createList();
      model.getRoot().set('col_actions', Col_Actions);
    }

    /**
     * This function is called when the Realtime file has been loaded. It should
     * be used to initialize any user interface components and event handlers
     * depending on the Realtime model. In this case, create a text control binder
     * and bind it to our string model that we created in initializeModel.
     * @param doc {gapi.drive.realtime.Document} the Realtime document.
     */
    
    function onFileLoaded(doc) {
      col_actions = doc.getModel().getRoot().get('col_actions');	
    	
      $(function() {
		$('#sketch_editor1').sketch('col_obj', col_actions);
  		$('#sketch_editor1').data('sketch').redraw();
		// $('#sketch_editor2').sketch('col_obj', col_actions);
  		// $('#sketch_editor2').data('sketch').redraw();
	  });
	  
	  // Add event listeners, remember scripting language, method declarations need to come first :(
	  var update_sketches = function(e) {
  		$('#sketch_editor1').data('sketch').actions = col_actions.asArray();
  		$('#sketch_editor1').data('sketch').redraw();
  		// $('#sketch_editor2').data('sketch').actions = col_actions.asArray();
  		// $('#sketch_editor2').data('sketch').redraw();
	  }	
	  	
      col_actions.addEventListener(gapi.drive.realtime.EventType.VALUES_ADDED, update_sketches);	
    }
	
    var realtimeOptions = {
      clientId: "<%= GOOGLE_CLIENT_ID %>",
      authButtonElementId: 'authorizeButton',
      initializeModel: initializeModel,
      autoCreate: true,
      defaultTitle: "<%= "Appointment_Whiteboard"+@appointment.id.to_s %>",
      onFileLoaded: onFileLoaded,
      access_token: {	access_token: "<%= @response["access_token"] %>",
      					token_type: "<%= @response["token_type"] %>",
      					expires_in: "<%= @response["expires_in"] %>",
      					id_token: "<%= @response["id_token"] %>"
      				}
    }
</script>
